@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  *:focus {
    @apply outline-none;
  }
}

*:focus {
  /* outline: none !important;
  border: none !important; */
  box-shadow: none !important;
}

@media (max-width: 640px) {
  .Toastify__toast-container {
    width: 300px !important;
    left: 50% !important; /* 追加 */
    transform: translateX(-50%) !important; /* 追加 */
    top: 10px !important; /* 必要に応じて調整 */
  }
  .Toastify__toast {
    border-radius: 8px !important;
    margin-bottom: 10px !important;
  }
}

.Toastify__toast {
  background-color: #4f46e5 !important;
  color: #fff !important;
}

.Toastify__toast-icon {
  /* チェックマークアイコンのクラス名を指定 */
  color: #fff !important;
}

:root {
  --toastify-icon-color-success: #fff !important;
}
